# =========================
# Cubism Core
# =========================

/Core/*
!/Core/live2dcubismcore.js


# =========================
# Framework
# =========================

/Framework/*

!/Framework/Shaders/
/Framework/Shaders/*

!/Framework/Shaders/WebGL/
!/Framework/Shaders/WebGL/**


# =========================
# Resources
# =========================

/Resources/*

!/Resources/Wanko/
!/Resources/Wanko/**


# =========================
# Build / Debug
# =========================

/assets/*.map


# =========================
# Temporary files
# =========================

.DS_Store
Thumbs.db
*.bak
*.tmp
*.swp
*~